.App {
  text-align: center;
  background-color: darkblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #1b222c;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.App-header {
  background-color: hsl(220, 75%, 19%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 1b222c */